/* Antes de empezar, quiero aclarar que se que en este trabajo hay bastantes elementos y cosas que no fueron parte de la consigna de esta tarea, pero quiero ir adelantando un poco el proyecto final en base a mis conocimientos previos, gracias */


* {

    margin: 0;
    padding: 0;
    font-family: 'OMORI_GAME'; 
}


@font-face {
    font-family: 'OMORI_GAME'; 
    src: url('fonts/OMORI_GAME2.ttf') format('woff2');
         
    
  }





.body-home {
    background-image: url(images/omoribackground.webp);
    
}


/* Inicio Navbar */

.custom-navbar {

    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;


    background-color: white;
    
}

.navhome {

    /* Centrado de imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centrado de imagen */
}

.omorilogo {

    width: auto;
    height: 80px;
    
    padding: 0 20px;

   
}

.story, .characters {

    display: inline-block;
    width: 600px;
    text-align: center;
    height: auto;
    font-family: 'OMORI_GAME';
    font-size: 30px;
    margin: 0;
    

}

.link:hover {

    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}









/* Fin Navbar */




/* Inicio Trailer del juego */

.trailer {
    
    text-align: center;
    margin-top: 6%;

    
}

.trailer-background {
    width: 400px;
    
}

.trailer-display-button {

    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 30px;
}


/* En esta sección, modifico los colores predeterminados de "btn-primary" de bootstrap, para poder adaptarlo a la estetica de mi página web */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: white;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: rgb(202, 202, 202);
    --bs-btn-hover-border-color: black;
   
}
/* btn-primary */

.story-responsive, .characters-responsive {
    display: none;
}

iframe {
    
    width: 400px;
    height: 300px;
}
/* Fin Trailer del juego */




/* Contenido de la Página */

.content {

    

    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

    color: black;
}

.text {

    

    background-color: white;
    margin-top: 35px;
    width: 65%;
}


/* Primer texto */
.first {

    font-size: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;

    text-align: center;
    
    
    
}
/* Primer texto */

/* Segundo texto */
.second {

    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    text-align: left;

    display: flex;
    flex: auto;

    font-size: 30px;

    border-bottom: 40px solid black;
    


}

.something {
    height:auto;
    width: 200px;
    padding-right: 0px;
    padding-bottom: 50px;

    
}


/* Segundo texto */



/* Tercer texto */

.third {
    font-size: 30px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;

    text-align: center;
}

/* Tercer texto */



/* Cuarto texto */

.fourth {

    text-align: center;
    font-size: 50px;


}

/* LOGOS */
.logos {

    padding-bottom: 30px;
    
}

.custom-logo {

    width: 60px;
    margin: 20px 30px 40px 30px;

    transition: all 0.2s ease;
    
    
}

.omocat {
    display: flex;
    flex:auto;
    margin: auto;
    width: 30px;
    height: auto;

    
}



.custom-logo:hover {

    width: 70px;
    height: auto;
}


/* LOGOS */


/* Cuarto texto */



/* Fin Contenido de la Página */



/* FOOTER */
footer {
    color: white;
    font-family: "OMORI_GAME";

    display: flex;
    flex:auto;
    width: 100%;
    padding: 0;
}

.info {

    padding-right: 0px;
    background-color: black;
}

.copyright {
    margin-left: 85%;
}
/* FOOTER */



/* Responsive */
@media (max-width: 1400px) {
    .trailer {

        margin-top: 100px;
    }
  }

  

@media (max-width: 1200px) {
    .something {
      display: none;
    }

    .second {
        text-align: center;
        font-size: 30px;
    }
  }

@media (max-width: 920px) {
footer{
    
    display:none;

}

    

}


  @media (max-width: 768) {

    .fourth {

        text-align: center;
        font-size: 20px;
    
    
    }

    .logos {

        width: 10px;
    }
  }

  @media (max-width: 700px){


    .second {
        padding: 10px;
    
    }
    
    .text {
        width: 90%;
    }
    
    .logo {
        padding: 10px;
        padding-top: 0;
    }
    
    .fourth {
        padding-bottom: 0;
        border-top: 40px solid black;
    }
    
      }
    
      


  @media (max-width: 650px){

    .content {
        margin-top: 70px;
    }
    .first {
        font-size: 30px;
        
    }

    .trailer {

        display: none;
    }
  }

  @media (max-width: 425px){
    .story, .characters {
        display: none;
    }

    .responsive-link {

        margin-top: 120px;
        display: flex;
        justify-content: space-around;
        
        align-items: center;
        font-family: "OMORI_GAME";
        font-size: 40px;

        text-decoration: none;

    }

    .story-responsive, .characters-responsive {
        
        
        display: flex;
        justify-content: center;
        margin: 0;

        width: 160px;
        background-color: white;
        border-radius: 30px;

        

        
       
    }

    .link {
        color:black;
        
    }
  }

  @media (max-width: 375px){
 .third {
    padding: 20px;
    font-size: 25px;
    }

.fourth {
    font-size: 35px;
}
  }

  @media (max-width: 350px){
    .story-responsive, .characters-responsive {
        font-size: 25px; 
        width: 110px;

    }

    h2 {

        margin: 0;
    }

    .first {
        padding: 10px;
    }
  }

  @media (max-width: 280px){
    .third{
        font-size: 20px;
        padding: 10px;
    }
  }



 

 
/* Fin Responsive */







/* APARTADO CHARACTERS */

.body-characters {

    background-image: url(images/headspace.png);
    font-family: "OMORI_GAME";
}

/* Inicio Navbar */
.charactersnavbar {

    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #eadbff;

    

    
    
}

.charactersnav {

    display: flex;
    justify-content: space-between;

}

.charactersomorilogo {
    
    height: auto;
    width: 150px;
    padding-top: 8px;
    padding-left: 20px;

}

.sprites {

    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
}

.sprite {

    width: 50px;
    height: auto;
}

/* Fin Navbar */


/* Inicio Contenido */

.charactersinfo {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 100px 30px 0 30px; 
    gap: auto;
    font-size: 40px;
}

.omori, .data {
    background-color: white;
    font-size: 40px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.omori {
    padding: 20px 0 0 40px;
    margin: 0;
    font-size: 60px;
}

.imageposition {
    display: flex;
    justify-content: center;
    align-items: center;
}

.characterimage {
    width: auto;
    height: 600px;
}

.characterimage-responsive {
    display: none;
}


.picnic-conteiner {
    display: flex;
    justify-content: center;
}


.picnic:hover {
    transform: scale(1.1);
    transition: width 0.3s ease-in-out;
}

/* Fin Contenido */


@media (max-width: 1080px){

    .characterimage, .story-image {
        display: none;
    }

    .imageposition, .story-image-box {
        display: none;
    }

    .characterimage-responsive {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-bottom: 20px;
    }
    .omori, .data, .story-data {

        display:grid
        
        
    }

   
}

@media (max-width: 720px) {

    .sprite {

        width: 40px;
        height: auto;
        margin-top: 8px;
    }
}

@media (max-width: 480px) {

    .sprite {
        display: none;
    }

    .sprite-responsive {
        display: flex;
        width: 50px;
        margin-top: 0;
    }

    .omori, .data {
        font-size: 27px;
    }
    
}



/* FIN APARTADO CHARACTERS */










/* APARTADO SPOILER */

.body-spoiler {
    background-color: black;
    color: white;
    font-family: "OMORI_GAME";
}

.section-spoiler {
   
    margin-top: 270px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.spoiler-warning {

    font-size: 150px;
    margin: 0;
}

.info-spoiler {
    font-size: 30px;
}

.back-home {
    
    display: flex;
    justify-content: center;
    

}

.ask-spoiler {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.button-spoiler {
    
    padding: 0 30px;
    margin: 0 30px;
    width: 110px;
    border-radius: 30px;
    font-size: 30px;

    background-color: white;
    color: black;

    transition: all 0.3s ease;
}

.button-spoiler:hover {
    background-color: rgba(255, 255, 255, 0.534);
}


.info-spoiler, .ask-spoiler, .back-home, .button-spoiler {

    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

    animation-delay: 2s;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Comienza con opacidad 0 */
    }
    to {
      opacity: 1; /* Termina con opacidad 1 */
    }
  }



@media (max-width: 920px) {


    
    .spoiler-warning {
        font-size: 120px;

    }

    .info-spoiler-box {
        display: flex;
        justify-content: center;

    }
    .info-spoiler {

       width: 500px
    }
    



}


@media (max-width: 730px) {

    .section-spoiler {
        margin-top: 170px; 
    }
}

@media (max-width: 463px) {

    .spoiler-warning {
        font-size: 90px;
        width: 100%;
    }
}

@media (max-width: 447px) {
   
    .button-spoiler {

        padding: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .info-spoiler {
        width: 300px;
    }
}

@media (max-width: 350px) {

    .info-spoiler {

        font-size: 20px;
    }

}




/* FIN APARTADO SPOILER */







/* APARTADO STORY */


.body-story {
    background-image: url(images/headspace\ background.png);
    background-size: 100%;

    font-family: "OMORI_GAME";

}


/* Inicio Navbar */

.story-navbar {
    height: 80px;
    background-color: #fff4db;

    display: flex;
    justify-content: space-between;

}

.storyomorilogo {

    height: auto;
    width: 150px;
    padding-top: 8px;
    padding-right: 20px;

    
}

.story-sprites {
    
    
    

    text-align: center;
    padding-top: 15px;
    padding-right: 20px;
    
}

.story-sprite, .story-sprite-sunny {

    width: 50px;
    height: auto;
}

/* Fin Navbar */



/* Inicio Introducción */

.story-introduction {

   display: flex;
   justify-content: center;

   padding: 30px 0;

   
}

.story-text-box {
    font-size: 40px;
    background-color: #fff4db;
    padding: 20px 40px;
    width: 1000px;
    border-radius: 20px;

    display: flex;
    text-align: center;
}

.story-argument-box {
    background-color: #fff4db;
    border-radius: 20px;
    width: 500px;
    text-align: center;
}

.story-argument {
    font-size: 110px;
}

.story-title-box {
    background-color: #fff4db;
    border-radius: 20px;
    width: 600px;
    text-align: center;
}

.story-title {
    font-size: 110px;
}



/* Fin Introducción */



/* Inicio Contenido */

.story-background-image {
    background-image: url(images/Hangout_Spot_29.webp);
    background-size: cover;
    margin-top: 10px; 
    border-top: 20px solid #fff4db;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}



.story-content {
    display: flex;
    justify-content: end;

    padding: 60px 0;

    padding-right: 20px;

   
}

.story-data-box {
    font-size: 40px;
    background-color: #fff4db;
    padding: 20px 40px;
    width: 1048px;
    border-radius: 20px;
    text-align: center;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

}

.story-image-box {
    width: 900px;
    display: flex;
    justify-content: center;
    height: auto;

    align-items: center;

    

}

.story-image {
    width: auto;
    height: 454px;
}

.something-origin-box {
    display: flex;
    justify-content: center;

    padding-top: 80px;
    padding-bottom: 20px;
    opacity: 90%;

    
}

.something-origin {

    width: 200px;
    height: auto;
}

/* Fin contenido */


/* Inicio Responsive */

@media (max-width: 1280px) {
    .story-data {
        font-size: 30px;
    }
}

@media (max-width: 1080px) {
    .story-title {
        font-size: 70px;
        
    }

    .story-title-box {

        width: 400px;
    }

    .story-text {

        font-size: 30px;
    }

    .story-text-box {
        width: 70%;
    }

    .story-argument {
        font-size: 70px;
    }

    .story-argument-box {
        width: 300px;
    }

    .story-content {

        display: flex;
        justify-content: center;
        padding: 30px 0;
    }

    .story-image-box {
        display: none;
    }


    .story-data-box {
        width: 70%
    }

    .story-sprite, .story-sprite-sunny {
        width: 40px;
        height: auto;
    }

    .story-sprites {
        padding-top: 20px;
    }
}


@media (max-width: 480px) {
    .story-sprite {
        display: none;
    }

    .story-sprite-sunny {
        width: 50px;
    }
    .story-sprites {
        padding-top: 15px;
    }

}   


@media (max-width: 405px) {
    .story-title {
        font-size: 50px;
    }

    .story-title-box {
        width: 300px;
    }

    .story-text-box {
        width: 80%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .story-text {
        font-size: 30px;
    }

    .story-argument {
        font-size: 50px;
    }
    
    .story-argument-box {
        width: 220px;
    }

    .story-data-box {
        padding-left: 10px;
        padding-right: 10px;
        width: 80%;
    }
}
/* Fin Responsive */

/* FIN STORY */




/* Inicio Characters Far-Away */

/* Inicio NavBar */

.far-away.charactersnavbar {
    height: 80px;
    background-color: black;
    border-bottom: 2px white solid;

  
}

/* Fin NavBar */

.far-away.data, .far-away.omori {
    background-color: black;
    border: white 1px solid;
    color: white;
}

.far-away.body-characters {
    background-image: url(images/headspaceblack.png);
    background-color: #e6a8a0;

    
   
    
    
}













