@import "../base/variables";

.far-away.data, .far-away.omori {
    @include far-away(black, $bg-color-general 1px solid)
}

.far-away.omori {
    font-size: 45px;

    @media (max-width:720px) {
        font-size: 40px;
    }

    @media (max-width:480px) {
        font-size: 30px;
    }
}
