@import "../base/variables";

.far-away.data, .far-away.omori {
    background-color: black;
    border: $bg-color-general 1px solid;
    color: $bg-color-general;
}

.far-away.omori {
    font-size: 45px;
}
