@import "../base/variables";

footer {
    background-color: $bg-color-general;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin-top: 70px;

    .footer-logo-container {
        padding-left: 50px;
        width: 600px;

        .footer-logo {
            width: 30px;
            margin: 15px 30px 15px 0;
            opacity: 50%;
            transition: all 0.4s ease;

            @media (max-width: 650px){
                margin: 0px 15px 0 15px;
            }

            &:hover {
                opacity: 100%;
            }
        }

        @media (max-width: 650px){
            margin: 0;
            padding: 0;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
    }

    .footer-info-container {
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
        margin-right: 50px;

        .footer-info {
            margin: 0;
            font-size: 17px;
            font-family: 'Montserrat', sans-serif;
        }

        @media (max-width: 650px){
            margin: 0;
            padding: 0;
            justify-content: center;
            width: 100%;
            align-items: center;
            margin-bottom: 0;
        }
     }

     .footer-info-container, .footer-logo-container {
        margin-top: 30px;
        margin-bottom: 30px;

        @media (max-width: 650px){
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
    
    @media (max-width: 650px){
        display: list-item;
        text-align: center;

        position: absolute;
        
    }
}