.trailer {
    
    text-align: center;
    margin-top: 10px;

    .trailer-display-button {

        background-color: white;
        color: black;
        font-size: 25px;
        border-radius: 30px;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: white;
        --bs-btn-border-color: white;
        --bs-btn-hover-color: black;
        --bs-btn-hover-bg: rgb(202, 202, 202);
        --bs-btn-hover-border-color: black;
        --bs-btn-active-bg: rgb(147, 147, 147);
        --bs-btn-active-border-color: rgb(147, 147, 147);
       
    }
    .trailer-background {
        width: 400px;

        iframe {
    
            width: 400px;
            height: 300px;
        }
        
    }
       
    @media (max-width: 650px){
        display: none;
    }
}