%story-data-box {
    padding: 20px 40px;
    width: 1048px;
    border-radius: 20px;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}